
.comp {
    background-color: rgb(240, 248, 255);
}

.controle_fazenda_1 {
    border-radius: 2rem;
}

.controle_fazenda_1 h1{
    margin: 1rem;
}

.container {
    width: 90%;
    height: 10%;
    display:flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 3rem;
    justify-content: space-around;

}

.conteudo{
    border: none;
    width: 25rem;
    height: 18rem;
    margin: 1rem;
    border-radius: 1.5rem;
    background-color: rgba(250, 235, 215, 0.47);
}
.elemento{
   border-radius: 1.5rem;
   width: 4rem;
   height: 5rem;
   background-color: rgba(250, 235, 215, 0.47);
 

}

.graus{
    border-radius: 1.5rem;
   width: 4rem;
   height: 3rem;
   background-color: rgba(250, 235, 215, 0.47);
  
  

}

.simbolo{
    border-radius: 1.5rem;
   width: 4rem;
   height: 4rem;
   background-color: rgba(250, 235, 215, 0.47);
   
  

}
.grafico{
    border-radius: 1.5rem;
   width: 40em;
   height: 10rem;
   background-color: rgba(250, 235, 215, 0.47);
  margin: 1rem;
   


}

