

.comp {
    background-color: rgb(240, 248, 255);
}

.controle_fazenda_1 {
    border-radius: 2rem;
}

.controle_fazenda_1 h1{
    margin: 1rem;
}

.container {
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;

}

.conteudo{
    border: none;
    width: 25rem;
    height: 18rem;
    margin: 1rem;
    border-radius: 1.5rem;
    background-color: rgba(250, 235, 215, 0.47);
}