
.fundo{
    width: 1022px;
    height: 899px;
    background-color: #ddd;
    border-radius: 25px;
    margin-top: -80px;
    margin-left: 0px;

}

.sair{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#8a8888;
    text-align: center;
    font-size: 25px;
    width: 132px;
    height:35px;
    border-radius: 10px;
    background-color: #c4c4c4;
    margin-left: 50px;
    margin-top: -35px;
}

.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    width: 132px;
    height: 35px;
    background-color:#CACACA;
    border-radius: 10px;
    margin-top: -880px;
    margin-left: 480px;
    padding-top: 2px;
    float: inline;
}

.imagem{

    width: 505px;
    height: 131px;
    background-image: url(img/capa.jpg);
    background-size: cover;
    border-radius: 10px;
    margin-top: -185px;
    margin-left: 80px;
    display: block;
    
}

        
.icone{
    width: 130px;
    height: 130px;
    background-image: url(img/perfilicon.jpeg);
    background-size: contain;
    border-radius: 100px;
    margin-top: -141px;
    margin-left: 755px;
    display: block;
}


.fundo1{
    width: 942px;
    height: 227px;
    background-color:#D3d3d3;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 40px;
    float: inline;
}

.alt-img-banner{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    text-align: center;
    width: 172px;
    height: 27px;
    background-color: #63b9c9;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 229px;
    float: inline;
}

.alt-img-icone{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    text-align: center;
    width: 172px;
    height: 27px;
    background-color: #63b9c9;
    border-radius: 10px;
    margin-top: -27px;
    margin-left: 734px;
    float: inline;
}

.div1h{
    width: 5px;
    height: 178px;
    background-color: rgba(134, 134, 133, 0.5);
    border-radius: 24px;
    margin-left: 659px;
    margin-top: -200px;
}

.nome{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4d4d4d;
    font-size: 20px;
    width: 60px;
    height: 23px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 55px;
    float: inline-start;
    display: block;
}

.username{
    width: 92px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 23px;
    color: #4d4d4d;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 575px;
    float: inline;
    display: block;

}

.nome-mod{
    width: 425px;
    height: 55px;
    background-color:#CACACA;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: -60px;
    float: inline-start;
}

.username-mod{
    width: 425px;
    height: 55px;
    background-color:#CACACA;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 557px;
    float: inline;
    display: block;
}

.bio{
    width: 92px;
    height: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #4d4d4d;
    border-radius: 50px;
    margin-top: 55px;
    margin-left: 55px;
    float: inline;
    display: block;

}

.bio-mod{

    width: 942px;
    height: 89px;
    background-color:#CACACA;
    border-radius: 10px;
    margin-top: 3px;
    margin-left: 55px;
    float: inline;
    display: block;

}

.loc{
    width: 54px;
    height: 23px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #4d4d4d;
    margin-top: 55px;
    margin-left: 55px;
    float: inline;
    display: block;
    
}

.loc-mod{
    width: 425px;
    height: 129px;
    background-color:#CACACA;
    border-radius: 10px;
    margin-top: 3px;
    margin-left: 55px;
    float: inline;
    display: block;
}

.cntt{
    width: 92px;
    height: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #4d4d4d;
    border-radius: 10px;
    margin-top: -150px;
    margin-left: 575px;
    float: inline;
    display: block;
}

.cntt-mod{

    width: 425px;
    height: 86px;
    background-color:#CACACA;
    border-radius: 10px;
    margin-top: 3px;
    margin-left: 556px;
    float: inline;
    display: block;;
}

.slvr{
    color: #4d4d4d;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 206px;
    height: 35px;
    background-color:#CACACA;
    border-radius: 10px;
    margin-left: 407px;
    margin-top: 76px;
}


