
.fundo{
    width: 70vw;
    height: 100vh;
    background-color: #ddd;
    border-radius: 25px;

}

.sair{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#8a8888;
    font-size: 18px;
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    background-color: #c4c4c4;
    margin-left: 6vh;
    margin-top: -2vw;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    width: 10vw;
    height: 5vh;
    background-color:#CACACA;
    border-radius: 10px;
    margin-top: -38rem;
    margin-left: 64vh;
}

.imagem{

    width: 65vh;
    height: 5vw;
    background-color: #4d4d4d;
    background-size: cover;
    border-radius: 10px;
    margin-top: -6rem;
    margin-left: 12vh;
    display: flex;
    
}

        
.icone{
    width: 5vw;
    height: 5vw;
    background-color: #4d4d4d;
    border-radius: 100px;
    margin-top: -4.5rem;
    margin-left: 118vh;
}


.fundo1{
    width: 64vw;
    height: 20vh;
    background-color:#D3d3d3;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 6.5vh;

}

.alt-img-banner{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    text-align: center;
    width: 10vw;
    background-color: #63b9c9;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 229px;
}

.alt-img-icone{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    text-align: center;
    width: 10vw;
    background-color: #63b9c9;
    border-radius: 10px;
    margin-top: -25px;
    margin-left: 715px;
}

.div1h{
    width: 0.4vw;
    height: 18vh;
    background-color: rgba(134, 134, 133, 0.288);
    border-radius: 24px;
    margin-left: 615px;
    margin-top: -120px;
}

.nome{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4d4d4d;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 1rem;
    margin-left: 3rem;
    float: inline-start;
    display: block;
}

.username{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4d4d4d;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 1rem;
    margin-left: 31.7rem;
    display: block;

}

.nome-mod{
    width: 30vw;
    height: 8vh;
    background-color:#CACACA;
    border-radius: 10px;
    margin-top: 45px;
    margin-left: -53px;
    float: inline-start;
}

.username-mod{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 30vw;
    height: 8vh;
    background-color:#CACACA;
    border-radius: 10px;
    margin-top: 2px;
    margin-left: 500px;
}

.bio{
    width: 92px;
    height: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: #4d4d4d;
    border-radius: 50px;
    margin-top: 8px;
    margin-left: 48px;
    float: inline;
    display: block;

}

.bio-mod{

    width: 64vw;
    height: 5vw;
    background-color:#CACACA;
    border-radius: 10px;
    margin-top: 3px;
    margin-left: 40px;
    float: inline;
    display: block;

}

.loc{
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: #4d4d4d;
    margin-top: 10px;
    margin-left: 45px;
    float: inline;
    display: block;
    
}

.loc-mod{
    width: 30vw;
    height: 15vh;
    background-color:#CACACA;
    border-radius: 10px;
    margin-top: 3px;
    margin-left: 40px;
    float: inline;
    display: block;
}

.cntt{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: #4d4d4d;
    border-radius: 10px;
    margin-top: -125px;
    margin-left: 31.7rem;
}

.cntt-mod{

    width: 30vw;
    height: 15vh;
    background-color:#CACACA;
    border-radius: 10px;
    margin-top: 3px;
    margin-left: 500px;
    float: inline;
    display: block;;
}

.slvr{
    color: #4d4d4d;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 15vw;
    height: 5vh;
    background-color:#CACACA;
    border-radius: 10px;
    margin-left: 407px;
    margin-top: 2rem;
}
