
.icon {
    width: 7rem;
    height: 7rem;
    background-color:#cacaca;
    border-radius: 100px;
    background-size: cover;
    margin-left: 70px;
    margin-top: -65px;
    display: flex;
}

.capa {
    width: 50rem;
    height: 16rem;
    background-color:#acaaaa;
    background-size: cover;
    border-radius: 20px;
    margin-top: 2.5rem;
    margin-left: 3rem;
}

.nome-faz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #4D4D4D;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    width: 12rem;
    height: 2rem;
    background-color: #DDD;
    border-radius: 10px;
    margin-left: 41rem;
    margin-top: -2rem;
}

.seguindo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 5rem;
    height: 2rem;
    color: #4D4D4D;
    background: #DDD;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    border-radius: 10px;
    margin-left: 35.5rem;
    margin-top: -2rem;
}


.seguidores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #4D4D4D;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    width: 8rem;
    height: 2rem;
    background-color: #DDD;
    border-radius: 10px;
    margin-left: 27rem;
    margin-top: -2rem;
}

.nome-user {
    color: #4D4D4D;
    float:left;
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 203px;
    height: 2px;
    margin-left: 4rem;
    display: flex;
}

.user-user {
    color: #4D4D4D;
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    width: 70px;
    height: 17px;
    margin-left: 4rem;
    margin-top: 1.5rem;
    display: flex;

}

.bio {
    color: #4D4D4D;
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    width: 467px;
    height: 30px;
    margin-left: 60px;
    margin-top: 0.5rem;
    display: flex;

}

.borda {
    width: 44rem;
    height: 0.2rem;
    background-color: #acaaaa;
    border-radius: 5px;
    margin-left: 100px;
    margin-top: 15px;
    display: flex;
}


.imagem1 {
    width: 16rem;
    height: 16rem;
    background-color: #DDD;
    margin-left: 4.3rem;
    margin-top: 2rem;
    

}

.imagem2 {
    width: 16rem;
    height: 16rem;
    background-color: #DDD;
    margin-left: 21rem;
    margin-top: -16rem;
}

.imagem3 {
    width: 16rem;
    height: 16rem;
    background-color: #DDD;
    margin-left: 37.8rem;
    margin-top: -16rem;

}

.imagem4 {
    width: 16rem;
    height: 16rem;
    background-color: #DDD;
    background-size: cover;
    margin-left: 4.3rem;
    margin-top: 0.8rem;

}

.imagem5 {
    width: 16rem;
    height: 16rem;
    background-color: #DDD;
    background-size: cover;
    margin-left: 21rem;
    margin-top: -16rem;

}

.imagem6 {
    width: 16rem;
    height: 16rem;
    background-color: #DDD;
    background-size: cover;
    margin-left: 37.8rem;
    margin-top: -16rem;

}
