
/* base do template */

.corpo {
    font-family: 'Roboto';
    height: 100vh;
    width: 100vw;
    padding: 0;
    background-color: rgb(150, 103, 45);
}

.container-fluid {
    background: linear-gradient(0deg, #827d15, #DABB1C);
    height: 100vh;
    width: 100vw;
    padding: 0;
}

.feed {
    border-radius: 50px 0px 50px 0px;
    background-color: rgb(209, 198, 184);
}

.tam_vertical{
    height: 100vh;
}



/*  MENU PRINCIPAL  */

    /* PERFIL */

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 15rem;
    margin-top: 3rem;
    color: #67640C;
}

.foto_perfil{
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    background: url("../img/icons/profile.png");
    background-size: contain;
    border: none;
    background-repeat: no-repeat;
}

.user_name{
    width: 8rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: #DCCE76;
    text-align: center;
}

.nome_fazenda{
    width: 8rem;
    height: 2.5rem;
    border-radius: 1rem;
    background-color: #DCCE76;
    text-align: center;
    font-size: small;
}


/*  botões controle fazenda / economia / config  */ 


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20rem;
    margin-top: 3rem;
}

.btn_home{
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: azure;
    background: url("../img/icons/home.png");
    background-size: contain;
    border: none;
    background-repeat: no-repeat;
}

.btn_control{
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: azure;
    background: url("../img/icons/control.png");
    background-size: contain;
    border: none;
    background-repeat: no-repeat;
}


.btn_economic{
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: azure;
    background: url("../img/icons/economic.png");
    background-size: contain;
    border: none;
    background-repeat: no-repeat;
}

.btn_config{
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: azure;
    background: url("../img/icons/config.png");
    background-size: contain;
    border: none;
    background-repeat: no-repeat;
}


/*  MENU LATERAL DIREITA  */ 

.menu_clima {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 20rem;
}

.condicao_tempo{
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: azure;
    background: url("../img/icons/clima.png");
    background-size: contain;
    border: none;
}


.temp{
    width: 4rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: azure;
    text-align: center;
}

.btn_open{
    position: absolute;
    right: 6.5%;
    width: 4rem;
    height: 4rem;
    background: url(../img/icons/seta_abre.png);
    background-size: contain;
    border: none;
}


/*  FEED CENTRAL  */ 


.feed{
    padding-top: 5rem;
}

.feed_noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    gap: 2rem;
    height: 20rem;
}

.noticia {
    background-color: rgb(230, 230, 230);
    width: 90%;
    height: 80%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.user {
    background-color: rgb(168, 168, 168);
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #4D4D4D;
    font-weight: 700;
    font-size: large;
}

.ft_perfil{
    background: url(../img/icons/user_feed.png);
    width: 3rem;
    height: 3rem;
    margin: 0 1rem 0 .5rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.nome_perfil{
    width: 49rem;
}

.post {
    padding: 1rem;
    font-size: large;
}